<div class="slide" id="slide5" data-slide="5" data-stellar-background-ratio="0.5">
	<div>
		<div class="content grid_12 contactmap" id="contact-map">
			<div class="grid_4">
				<h2>CONTACT</h2>
				<p class="information"><span class="icon-location"> ADRESS: </span>Maecenas faucibus mollis interdum.</p>
				<p class="information"><span class="icon-phone-2"> TELEPHONE: </span> 0 (123) 456 789</p>
				<a class="btn" href="https://goo.gl/maps/8GlbZ" target="_blank">Get Direction</a>
				<div class="clear"></div>
			</div>
			<div class="grid_8 omega">
				<div id="map_canvas"></div>
			</div>
		</div>

		

		
		


		<div class="content grid_12 contactmap dn" id="contact-phone">
			<div class="grid_4">
				<h2>TELEPHONE</h2>
				<p class="information"><span class="icon-location"> ADRESS: </span>Maecenas faucibus mollis interdum.</p>
			</div>
			<div class="grid_8 omega">
				<div class="grid_6 omega">0 (123) 456 789</div>
			</div>
		</div>


		<div class="content grid_12 contactmap dn" id="contact-mail">
			<div class="grid_4">
				<h2>E-MAIL</h2>
				<p class="information"><span class="icon-location"> ADRESS: </span>Maecenas faucibus mollis interdum.</p>
			</div>
			<div class="grid_8 omega">
				<div class="grid_6 omega"><a href="mailto:mail@loremipsum.com?Subject=Hello" class="btn">mailloremipsum.com</a></div>
			</div>
		</div>

		<div class="clear"></div>

		<footer class="content grid_12">
			<div class="btn2">&copy; Copyright</div>
			<hr/>
		</footer>
		<div class="clear"></div>


	</div>
</div>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>



<script>
    				    $('#contact-car').hide();
    $('#contact-bus').hide();
    $('#contact-bike').hide();
    $('#contact-phone').hide();
    $('#contact-mail').hide();

    $('#contact-carClick').removeClass("active");
    $('#contact-busClick').removeClass("active");
    $('#contact-bikeClick').removeClass("active");
    $('#contact-phoneClick').removeClass("active");
    $('#contact-mailClick').removeClass("active");

    $('#contact-map').show();
    $("#contact-mapClick").addClass("active");

// contact page toogles
$("#contact-mapClick").click(function () {
    $('#contact-car').hide();
    $('#contact-bus').hide();
    $('#contact-bike').hide();
    $('#contact-phone').hide();
    $('#contact-mail').hide();

    $('#contact-carClick').removeClass("active");
    $('#contact-busClick').removeClass("active");
    $('#contact-bikeClick').removeClass("active");
    $('#contact-phoneClick').removeClass("active");
    $('#contact-mailClick').removeClass("active");

    $('#contact-map').show();
    $("#contact-mapClick").addClass("active");
});
$("#contact-carClick").click(function () {
    $('#contact-map').hide();
    $('#contact-bus').hide();
    $('#contact-bike').hide();
    $('#contact-phone').hide();
    $('#contact-mail').hide();

    $('#contact-mapClick').removeClass("active");
    $('#contact-busClick').removeClass("active");
    $('#contact-bikeClick').removeClass("active");
    $('#contact-phoneClick').removeClass("active");
    $('#contact-mailClick').removeClass("active");

    $('#contact-car').show();
    $("#contact-carClick").addClass("active");
});
$("#contact-busClick").click(function () {
    $('#contact-map').hide();
    $('#contact-car').hide();
    $('#contact-bike').hide();
    $('#contact-phone').hide();
    $('#contact-mail').hide();

    $('#contact-mapClick').removeClass("active");
    $('#contact-carClick').removeClass("active");
    $('#contact-bikeClick').removeClass("active");
    $('#contact-phoneClick').removeClass("active");
    $('#contact-mailClick').removeClass("active");

    $('#contact-bus').show();
    $("#contact-busClick").addClass("active");
});
$("#contact-bikeClick").click(function () {
    $('#contact-map').hide();
    $('#contact-car').hide();
    $('#contact-bus').hide();
    $('#contact-phone').hide();
    $('#contact-mail').hide();

    $('#contact-mapClick').removeClass("active");
    $('#contact-carClick').removeClass("active");
    $('#contact-busClick').removeClass("active");
    $('#contact-phoneClick').removeClass("active");
    $('#contact-mailClick').removeClass("active");

    $('#contact-bike').show();
    $("#contact-bikeClick").addClass("active");
});
$("#contact-phoneClick").click(function () {
    $('#contact-map').hide();
    $('#contact-car').hide();
    $('#contact-bus').hide();
    $('#contact-bike').hide();
    $('#contact-mail').hide();

    $('#contact-mapClick').removeClass("active");
    $('#contact-carClick').removeClass("active");
    $('#contact-busClick').removeClass("active");
    $('#contact-bikeClick').removeClass("active");
    $('#contact-mailClick').removeClass("active");

    $('#contact-phone').show();
    $("#contact-phoneClick").addClass("active");
});



$("#contact-mailClick").click(function () {
    $('#contact-map').hide();
    $('#contact-car').hide();
    $('#contact-bus').hide();
    $('#contact-bike').hide();
    $('#contact-phone').hide();

    $('#contact-mapClick').removeClass("active");
    $('#contact-carClick').removeClass("active");
    $('#contact-busClick').removeClass("active");
    $('#contact-bikeClick').removeClass("active");
    $('#contact-phoneClick').removeClass("active");

    $('#contact-mail').show();
    $("#contact-mailClick").addClass("active");
});
//google map
var map;
  function initialize() {
    var mapOptions = {
      zoom: 13,
      center: new google.maps.LatLng(39.949910, 32.788134),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>





